@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar_left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.navbar_logo {
  width: 90px;
  object-fit: contain;
  padding-left: 16px;
}

.navbar_logoname1 {
  font-weight: bolder;
}

.navbar_right {
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  :hover {
    color: #0277b5;
  }
}

.navbar_link {
  text-decoration: inherit;
  color: black;
  margin-right: 4rem;
}

.navbar_searchicon {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
}
